@import url("./vendor/railscasts.css");

.color2 { color: hsl(0, 0%, 35%); }
.color5 { color: hsl(0, 0%, 80%); }

.color2 a:hover { color: hsl(0, 0%, 85%); }
.color3:hover  { color: hsl(0, 0%, 95%); }

.theme-color1 { background: hsl(0, 0%, 15%); }
.theme-color2 { background: hsl(0, 0%, 20%); }

.theme-blue { background: hsla(214, 30%, 45%, 0.6); }

/*-------------------------------------------------------*/
/*----------------------- HEADER ------------------------*/

header { box-shadow: 0px 4px 5px 0px hsl(0, 0%, 11%); }
.active-header-links { border: 1px solid hsl(0, 0%, 100%); }

/*-------------------------------------------------------*/
/*----------------- MAIN HOME CONTENT -------------------*/

.paper-sheet {
    text-align: center;
    transition: 0.2s;
    box-shadow: none;
    background: none;
}

.paper-sheet .theme-color1 { background: hsl(0, 0%, 20%); }
.paper-sheet:hover   { box-shadow: 0px 0px 10px 0px hsl(0, 0%, 40%); }
/*.main-title-container:after { background-image: url("../icons/img_code_monitor_light.jpg"); }*/

/*-------------------------------------------------------*/
/*---------------------- SPA LINKS ----------------------*/

.spa-links    { box-shadow: 4px 0px 5px 0px hsl(0, 0%, 11%); }
.links:hover  { background: hsl(0, 0%, 10%); }
.active-links { background: hsl(0, 0%, 10%) !important; }
.links ~ ul   { background: hsl(0, 0%, 30%); }
.links        { color: hsl(0, 0%, 60%); }
[data-class-active="active-links-css"] .opened-links {
    background: linear-gradient(180deg, #87a1b3, transparent) !important;
}

/*-------------------------------------------------------*/
/*----------------- SPA LOADED CONTENT ------------------*/

.code, .browser-support > div {
    background: hsl(0, 0%, 20%); 
    box-shadow: 4px 4px 3px hsl(0, 0%, 11%);
}
.reference h2 {
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 80%);
    box-shadow: 2px 2px  5px #111111;
}

/*-------------------------------------------------------*/
/*--------------------- MEDIA QUERY ---------------------*/

@media screen and  (max-width: 780px) {

    .links:hover {
        background: initial;
        color: aliceblue;
    }
}
