/*-------------------------------------------------------*/
/*----------------- SPA LOADED CONTENT ------------------*/

/*-------------------------------------------------------*/
/*----------------- MAIN HOME CONTENT -------------------*/

.main-title-container {
    position: relative;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-title-container:after {
    content: "";
    background-image: url("../icons/img_code_monitor_dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 0%;
    background-size: cover;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.main-title-wrapper {
    margin: 0 auto;
    z-index: 1;
}

.main-title {
    text-align: center;
    margin: auto;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    font-size: 7em;
    font-family: "BreeSerif";
    line-height: 1.5em;
}

/*-------------------------*/
/*---- Title Animation ----*/

.main-title:first-child {
    transform: translateY(-100%);
    animation-name: to-initial;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.main-title:last-child {
    transform: translateY(100%);
    animation-name: to-initial;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes to-initial { 
    to { 
        transform: translateY(0);
        opacity: 1;
    } 
}

/*-------------------------*/
/*-------------------------*/

.main-intro-text {
    max-width: 400px;
    margin: 0px auto;
    padding: 50px 50px;
}

/*-------------------------*/
/*--- Paper Sheet Links ---*/

.main-link {
    flex: 1;
    margin: 20px
}

.paper-sheet {
    box-shadow: 4px 4px 8px 0px hsl(0, 0%, 80%);
    background: #e4e4e4;
    text-align: center;
    transition: 0.2s;
}

.paper-sheet:hover { box-shadow: 6px 6px 8px 0px hsl(0, 0%, 45%); }
.paper-sheet-img { max-height: 300px; }

.img-caption {
    text-align: center;
    padding: 10px;
    margin: auto;
}

/*-------------------------------------------------------*/
/*----------------- ALL (Home Content) ------------------*/

.home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.home-img {
    height: 230px;
    width: 230px;
    margin: 0px 20px 0px 0px;
}

.home-article {
    width: 100%;
    font-family: "BreeSerif";
    font-size: 1em;
}

/*-------------------------------------------------------*/
/*-------------- HTML (Element Reference) ---------------*/

.reference ul {
    display: flex;
    flex-flow: wrap;
    font-family: "BreeSerif";
}
.open-ul { padding: 0px 20px; }
.open-ul ul {text-align: center;}
.reference ul a {
    margin: 2px;
    text-align: center;
    width: 100px;
}
.reference h1 { color: hsl(0, 0%, 40%);}
.reference h2:nth-of-type(1) { margin-top: 50px }
.reference h2:nth-last-of-type(1) { margin-bottom: 50px }

.reference h2 {
    font-size: 1.2em;
    background: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 40%);
    cursor: pointer;
    box-shadow: 2px 2px  5px hsl(0, 0%, 50%);
    margin: 20px 0 0 0;
    padding: 10px 20px;
}

.reference .opened-links {
    background: indianred;
    color: white;
}

/*-------------------------------------------------------*/
/*---------------- HTML (Loaded Content) ----------------*/

.wrapper-loaded-content, .reference {
    font-family: "BreeSerif";
    line-height: 1.4;
    text-align: justify;
    hyphens: auto;
    word-spacing: 0.5px;
    font-size: 1.0em;
    padding: 0px 3% 0px 5%;
    max-width: 1100px;
}

.wrapper-loaded-content > a {
    font-size: 12px;
    color: hsl(0, 0%, 50%);
    display: block;
    bottom: 2px;
    margin: 30px 0px;
    font-family: initial;
}

.wrapper-loaded-content article > p {
    text-align: justify;
    hyphens: auto;
}

.wrapper-loaded-content article {
    margin-bottom: 15px;
}

.wrapper-loaded-content h5 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.wrapper-loaded-content h2 {
    text-align: initial;
}

/*-------------------------*/
/*------ Attributes -------*/

.attributes-inline p {
    font-style: italic;
    font-family: monospace;
}

.attributes-inline h5, .attributes-inline p {
    display: inline;
}

/*-------------------------*/
/*--------- Code ----------*/

.code pre { margin: 0; }

.code {
    box-shadow: 4px 4px 3px hsl(0, 0%, 87%);
    border-left: 7px solid hsl(140, 40%, 55%);
    border-right: 7px solid transparent;
    padding: 20px 15px;
    text-align: initial;
}

code.code {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    -moz-tab-size: 3;
    -o-tab-size: 3;
    tab-size: 3;
}

div.code { border-left: 7px solid hsl(0, 40%, 55%); }
div.code a { text-decoration: underline; color: hsl(240, 52%, 64%);}

/*-------------------------*/
/*---- Browser Support ----*/

.browser-support > h5 {
    margin-bottom: 4px;
}

.browser-support > div {
    box-shadow: 4px 4px 3px hsl(0, 0%, 87%);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.browser-version {
    font-size: 0.8em;
    margin-top: 5px;
}

.browser-support li {
    text-align: center;
}

.browser-icons {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    top: 2px;
    background-image: url(../icons/browser_icons.png);
}

.icon-firefox { background-position: 0px 0px; }
.icon-chrome  { background-position: 0px -50px; }
.icon-ie      { background-position: 0px -100px; }
.icon-opera   { background-position: 0px -150px; }
.icon-safari  { background-position: 0px -200px; }

.browser-support .disable {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

/*-------------------------------------------------------*/
/*--------------------- MEDIA QUERY ---------------------*/

@media  (max-width: 1300px) {
    
    .wrapper-loaded-content, .reference { padding: 0px 10% 0px 10%; }
}

@media  (max-width: 1000px) {
    
    .home-div { flex-flow: wrap; }
}

@media screen and (max-width: 780px) {
    
    .wrapper-loaded-content, .reference { padding: 0px 5% 0px 5%; }
    
    .paper-sheet-img { max-height: 100px; }
    
    .main-title-container:after { background-attachment: scroll; }
    
    .main-title { 
        font-size: 5em;
        padding: 0px;
        letter-spacing: 0em;
        word-spacing: 0em;
    }
}
