/*-------------------------------------------------------*/
/*----------------------- GENERIC -----------------------*/

@font-face { font-family: "BreeSerif"; src: url("../fonts/BreeSerif-Regular.ttf"); }
@font-face { font-family: "Firamono"; src: url("../fonts/FiraMono-Regular.ttf"); }
@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Light.ttf"); }

body {
    margin: 0;
}
ul {
    padding: 0px;
    margin: 0px;
}

table {
    border-collapse: collapse;
}
td, tr, th {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 35%);
}

pre { font-family: 'Firamono'; }

.code {
    font-family: 'Firamono';
    font-size: 11px;
    line-height: 1.8em;
    letter-spacing: -0.05em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "BreeSerif";
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.links {
    .color3;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    position: relative;
    font-family: "BreeSerif";
    font-size: 14px;

    &:hover {
        background: hsl(0, 3%, 60%);
        color: aliceblue;
    }
}

.category-title {
    padding: 10px 40px 10px 20px;
    text-decoration: none;
    display: block;

    margin-top: 30px;
    font-family: monospace;
    text-align: right;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.3);

    @media (max-width: 740px) {
        text-align: left;
    }
}

.more-links:after {
    position: absolute;
    content: "\25ff";
    font-size: 0.5em;
    right: 20px;
    bottom: 12px;
}
.opened-links:after {
    content: "\25e2";
}
.element-that-opens {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.color1 { color: hsl(0, 0%, 100%); }
.color2 { color: hsl(0, 0%, 85%); }
.color3 { color: hsl(0, 0%, 50%); }
.color4 { color: hsl(0, 0%, 35%); }
//.color5 { color: hsl(0, 0%, 5%); }
.color5 { color: #454545; }

//.theme-color1 { background: hsl(0, 0%, 100%); }
.theme-color1 { background: hsl(0, 0%, 98%); }
//.theme-color2 { background: hsl(0, 0%, 93%); }
.theme-color2 { background: #f2f2f2; }

.little-note {
    font-style: italic;
    font-size: 0.95em;
    line-height: 1.5em;
    letter-spacing: 0;
}
.little-note:before {content: " → ";}

.disable {
    filter: grayscale(1);
}

.highlight-text {
    background: hsla(0, 0%, 50%, 0.2);
    padding: 1px 6px;
    border-radius: 10%;
}


.highlight-box {
    margin: 10px 0px;
    padding: 15px 25px;
    border-radius: 5px;
}

.highlight-box {
    background: #dadada;
    color: #383838;

    &-good {
        .highlight-box;
        color: seagreen;
        background: #d0ecd0;
    }

    &-bad {
        .highlight-box;
        color: brown;
        background: #f0dada;
    }

    &-warning {
        .highlight-box;
        color: #ab870b;;
        background: #ffedb1;
    }
}

.inline-link {
    color: hsl(240, 52%, 64%);
    text-decoration: none;
    font-style: italic;
    font-size: 1.1em;
}

.quotes { font-style: italic;}
.quotes:before {content: ' "'}
.quotes:after {content: '" '}
