/*-------------------------------------------------------*/
/*------------------ MAIN NAVIGATION --------------------*/

@li_right : 10px;

#main-navigation {
    position: fixed;
    right: 0px;
    z-index: 1;
    
    .header-nav {
        
        &:hover {
            width: 350px;
            height: 100px;

            .header-links {
                pointer-events: inherit;
            }
            
            .loop(@counter, @n, @propertie) when (@counter > 1) {
                li:nth-child(@{counter}) {
                    @{propertie}: (@n + 0px);
                }
                .loop((@counter - 1), (@n + 80), @propertie);
            }
            
            .loop(4, 80, right);
            
            @media (max-width: 740px) {

                width: 100px;
                height: 350px;

                li {
                    right: @li_right !important;
                }
                
                .loop(4, 80, top);
            }
        }
        
        li {
            right: @li_right;
            top: 10px;
            transition: all 0.3s;
            position: absolute;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background: rgba(80, 80, 80, 0.10);
            list-style: none;
            
            &:hover {
                background: rgba(80, 80, 80, 0.4);
                
                .header-links {
                    transform: scale(1);
                    filter: grayscale(0);
                    -webkit-filter: grayscale(0);
                }
            }

            @media (max-width: 740px) {
                width: 50px;
                height: 50px;
            }
            
            .header-links {
                transition: 0.5s;
                filter: grayscale(0.9);
                -webkit-filter: grayscale(0.9);
                height: 55px;
                width: 55px;
                display: block;
                border: 1px solid transparent;
                border-radius: 30px;
                position: absolute;
                top: 4px;
                right: 4px;
                transform: scale(0.64);
                pointer-events: none;

                 @media (max-width: 740px) {
                    width: 40px;
                    height: 40px;
                }
                
                &.active-header-links {
                    transform: scale(1);
                    filter: grayscale(0);
                    -webkit-filter: grayscale(0);
                    z-index: 1;
                }
            }
        }
    }
}