/*-------------------------------------------------------*/
/*---------------------- SPA LINKS ----------------------*/
@import 'vars';

[data-class-active="active-links-css"] .opened-links {
    color: whitesmoke !important;
    background: hsla(209, 48%, 27%, 0.5);
}

.links-wrapper {
//    font-family: "BreeSerif";
    box-shadow: 4px 4px 5px hsl(0, 0%, 70%);
    
    
    @media (max-width: 740px) {
        box-shadow: none !important;
    }
    .links-container {
        box-sizing: border-box;
        height: calc(100vh - 50px);
        overflow-y: hidden;
        overflow-x: hidden;
        
        &:hover {
            overflow-y: scroll;
        }
        
        @media (max-width: 740px) {
            overflow-y: scroll;
            top: 70px;
            position: relative;
            height: calc(100vh - 120px)
        }
        
        > ul {
            padding: 10px 0;
            width: @links_width;
        }
        li {list-style: none;}
        
        .links {
            .color3;
            cursor: pointer;
            text-decoration: none;
            padding: 7px 40px 7px 10px;
            transition: 0.3s;
            display: block;
            text-align: right;
            position: relative;
            
            & ~ ul {
                height: 0px;
                overflow: hidden;
                transition: height 0.4s;
                background: white;
            }
            
            
            &:hover {
                background: hsl(0, 3%, 60%);
                color: aliceblue;
            }
            
            &.active-links-html { 
                color: white;
                background: @html_color !important;
            }
            &.active-links-css { 
                color: white;
                background: @css_color !important;
            }
            &.active-links-javascript { 
                color: white;
                background: @javascript_color !important;
            }
            
            @media (max-width: 740px) {
                text-align: left;
                padding: 10px 10px 10px 20px;
            }
        }
    }
    
    footer {
        position: absolute;
        display: flex;
        background: hsla(0, 0%, 40%, 0.3);
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        bottom: 0px;
        width: 100%;
        height: 50px;
        padding: 5px;
        
        button {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            margin: 0px 0px 0px 10px;
            box-shadow: 1px 3px 5px -4px #000;
            
            &.css-button-light {
                background: white;
            }
            &.css-button-dark {
                background: black;
            }
            &.css-button-pink {
                background: deeppink;
            }
            &.css-button-green {
                background: green;
            }
        }
    }
    
    .btn-open-links {
        width: 50px;
        height: 50px;
        background: rgba(80, 80, 80, 0.3);
        position: absolute;
        top: 0px;
        left: 100%;
        border-radius: 50%;
        margin: 10px;
        display: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &.rotate {
            transform: rotate(45deg);
            left: 70%;
        }
        
        @media (max-width: 740px) {
            display: block;
            
        }
        .plus {
            width: 20px;
            height: 3px;
            position: absolute;
            left: 15px;
            top: 24px;
        }
        .plus-vertical {
            transform: rotate(90deg);
        }
    }
    
    .touch-element {
        position: absolute;
        top: 0;
        height: 100%;
        width: 110%;
        z-index: -1;
    }
}
