.color2 {
  color: #595959;
}
.color5 {
  color: #C3046C;
}
.theme-color1 {
  background: pink;
}
.theme-color2 {
  background: lightpink;
}
/*-------------------------------------------------------*/
/*---------------------- SPA LINKS ----------------------*/
.links-wrapper {
  box-shadow: none;
}
.links-wrapper .links-container .links {
  color: deeppink;
}
.links-wrapper .links-container .links ~ ul {
  background: #f0ced4;
}
.links-wrapper .links-container .links:hover {
  background: deeppink;
}
.links {
  color: deeppink;
}
.links:hover {
  background: deeppink;
}
/*-------------------------------------------------------*/
/*----------------- SPA LOADED CONTENT ------------------*/
.wrapper-html-reference h2 {
  background: rgba(230, 230, 230, 0.5);
  box-shadow: none;
}
.wrapper-html-reference > ul {
  background: rgba(230, 230, 230, 0.5);
}
.wrapper-content-tmpl .box {
  background: #f0ced4;
  box-shadow: none;
}
/*-------------------------------------------------------*/
/*------------------ JAVASCRIPT REGEX -------------------*/
